<div>
	<h3>Scrubber</h3>
	<div ui-view>
	<h3>Click to Advance Frame</h3>
	    <button type="button" id="advance" class="btn btn-danger" ng-click="advanceFrame(currentFrameID, currentFrame)">Next Frame</button>
	    <button type="button" id="advance" class="btn btn-danger" ng-click="backTenFrames(currentFrameID)">Back 10 Frames</button>

	    <!-- refactor into ng-repeat later -->
	    <p>
	        filename: {{fileName}}
	    </p>
	    <p>
	        branchname: {{branchName}}
	    </p>
	    <p>
	        last commit: {{lastCommit}}
	    </p>
	    <p ng-filter>
	        committed at: {{lastCommitTime | datetime}}
	    </p>
	    <p>
	       frame id: {{currentFrameID}}
	    </p>
	    <em>Current Frame</em>
	    <div ng-show="currentFrameID === 0">
	    <em>First Frame</em>
	    <p>
	    {{firstFrame}}
	    </p>
	    </div>
		<p>
			{{currentFrame}}
		</p>
</div>