<div>
	
	<md-content id="slider">
		<div layout>
	      <div flex="10" layout layout-align="center center">
	        <!-- <span class="md-body-1">file history</span> -->
            <ng-md-icon id="history-icon" icon="history" style="fill: #7e7e7e" size="40"></ng-md-icon>
	      </div>
	      <md-slider
            flex 
            class="md-primary" 
            md-discrete 
            ng-disabled="keyframes.length==0" 
            ng-model="keyframeIndex" 
            ng-change="goToKeyframe()" 
            step="1" 
            min="0" 
            max="{{keyframes.length-1}}" 
            aria-label="keyframe">
	      </md-slider>
		</div>
	</md-content>

	<!-- Scrubber Navigation -->
    <section layout="row" layout-sm="column" layout-align="center center">
        <!-- Move into the Past -->
        <md-button class="md-fab md-mini md-primary md-hue-2" ng-disabled="keyframes.length==0 || isFirstFrame" ng-click="backTenFrames(currentKeyframe)" aria-label="skip_previous">
           	<ng-md-icon icon="skip_previous" style="fill: #fff" size="32"></ng-md-icon>
        </md-button>
        <md-button class="md-fab md-mini md-primary md-hue-2" ng-disabled="keyframes.length==0 || isFirstFrame" ng-click="previousKeyframe(currentKeyframe)" aria-label="play_reverse">
        	<ng-md-icon icon="keyboard_arrow_left" style="fill: #fff" size="32"></ng-md-icon>
        </md-button>
        <!-- Play / Pause -->
        <md-button class="md-fab md-mini md-primary md-hue-2" ng-disabled="isLastFrame" ng-click="play()" ng-hide="isPlaying" aria-label="play_arrow">
        	<ng-md-icon icon="play_arrow" style="fill: #fff" size="32"></ng-md-icon>
        </md-button>
        <md-button class="md-fab md-mini md-primary md-hue-2" ng-disabled="isLastFrame" ng-click="pause()" ng-hide="!isPlaying" aria-label="pause">
            <ng-md-icon icon="pause" style="fill: #fff" size="32"></ng-md-icon>
        </md-button>
        <!-- Move into the Future -->
        <md-button class="md-fab md-mini md-primary md-hue-2" ng-disabled="isLastFrame" ng-click="nextKeyframe(currentKeyframe)" aria-label="keyboard_arrow_right">
        	<ng-md-icon icon="keyboard_arrow_right" style="fill: #fff" size="32"></ng-md-icon>
        </md-button>
        <md-button class="md-fab md-mini md-primary md-hue-2" ng-disabled="isLastFrame" ng-click="advanceTenFrames(currentKeyframe)" aria-label="skip_next">
        	<ng-md-icon icon="skip_next" style="fill: #fff" size="32"></ng-md-icon>
        </md-button>
    </section> 

    <section layout="row" layout-sm="column" layout-align="right right">
        
        <md-switch 
            class="md-primary" 
            md-no-ink aria-label="Diff Mode" 
            ng-model="diffSwitch" 
            ng-click="switchDiffMode()">
          Diff Mode
        </md-switch>

        <md-switch 
            class="md-primary" 
            md-no-ink aria-label="File Info" 
            ng-model="infoSwitch" 
            ng-click="switchInfoMode()">
          File Info
        </md-switch>

    </section>

<fileinfo ng-show="infoSwitch"></fileinfo>

</div>







