.md-toolbar {
	height: 25px;
}

.md-icon-button {
	height: 25px;
}

.md-toolbar-tools {
	background-color: blue;
	padding: 0 5px;
	margin: 0;
	height: 25px;
}

span.md-flex {
	color: white;
}

.AddedChange {
	color: green;
	font-weight: bold;
	font-size: large;
}

.RemovedChange {
	color: red;
	font-weight: bold;
	font-size: large;
}

.NoChange {
	color: purple;
	font-weight: bold;
	font-size: large;
}