<div>
	<h4>Viewer</h4>
	<h5>Browse Your Current Save</h5>
	<h6>Recent Additions:</h6>
		<div class="AddedChange">
	    <div class="condensed">
	    <pre>
	        {{diffsArray.textAdded}}
	    </pre>
		</div>
		</div>
<!-- 	<button type="button" id="advance" class="btn btn-danger" ng-click="advanceFrame(currentFrameID, currentFrame)">Next Frame</button>

	    <button type="button" id="advance" class="btn btn-danger" ng-click="backTenFrames(currentFrameID)">Back 10 Frames</button>
 -->
    <div name="hello" ui-ace="{ onLoad : aceLoaded }"></div>


</div>